#===============================================================================
# Opciones de direcctorios
#===============================================================================
Options -Indexes
Options +FollowSymLinks
DirectoryIndex gardener.php


#===============================================================================
# Juego de caracteres por defecto
#===============================================================================
AddDefaultCharset UTF-8
AddCharset UTF-8 .php
php_value default_charset "utf-8"


#===============================================================================
# Headers
#===============================================================================
<IfModule mod_headers.c>
	<FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|css|js|md)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
</IfModule>


#===============================================================================
# Expiraciones
#===============================================================================
<IfModule mod_expires.c>
	ExpiresActive On 
	ExpiresDefault "access plus 1 month"

	# favicon
	ExpiresByType image/x-icon "access plus 1 year"
	
	# Images
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"
	
	# fonts
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType application/x-font-ttf "access plus 1 year"
	ExpiresByType application/x-font-opentype "access plus 1 year"
	ExpiresByType application/x-font-woff "access plus 1 year"

	# css
	ExpiresByType text/css "access plus 1 month"
	
	# javascript
	ExpiresByType application/javascript "access plus 1 month"
</IfModule>


#===============================================================================
# Reescritura de URLs
#===============================================================================
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^$ /index [L]
	RewriteRule ^(.*)/$ $1/index [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ gardener.php [QSA,L]
</IfModule>